<div class="footer-section">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-3">
        <!--<h4>Map Links:</h4>-->
        <ul>
          <li><a href="/working-day">Working Day</a></li>
          <li><a href="/login">Log In</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <li><a href="/insert-user">Add New User</a></li>
        <li><a href="/insert-project">Add New Project</a></li>
      </div>

      <div class="col-md-34">
        <li><a href="/project-list">Projects List</a></li>
        <li><a href="/users-list">Users List</a></li>

      </div>
    </div>
  </div>
  <!--<div class="col-md-4">-->
    <!--<img class="home-pic" src="../../../assets/images/cms-area.png" alt="">-->
  <!--</div>-->
</div>
