<div class="container-navbar">
    <div class="col-sm-1">
        <!--<img class="logo" src="http://vignette1.wikia.nocookie.net/lyricwiki/images/c/cf/Sports_Logo_-_FC_Barcelona.png/revision/latest?cb=20120105094542" alt="logo">-->
        <img class="logo" src="../../../assets/images/Project_logo.png" alt="logo">
    </div>
    <div class="col-sm-1">
        <!--<a [routerLink]="['/component-one']">Home</a>-->
    </div>
    <div class="col-sm-1"><a [routerLink]="['/home']">Home</a></div>
      <div class="col-sm-1"><a [routerLink]="['/working-day']">Working Day</a></div>
    <div class="col-sm-1" *ngIf="!isAdmin"><a [routerLink]="['/insert-user']">New User</a></div>
    <div class="col-sm-1" *ngIf="!isAdmin"><a [routerLink]="['/insert-project']">New Project</a></div>
    <div class="col-sm-offset-3 col-sm-2">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
              Hi
              <span *ngIf="currentUser"> {{currentUser.firstName}}!</span>
              <span *ngIf="!currentUser"> Guest!</span>
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation" *ngIf="!currentUser"><a role="menuitem" tabindex="-1" [routerLink]="['/login']">Log In</a></li>
                <li role="presentation" *ngIf="!currentUser" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" [routerLink]="['/project-list']">Projects</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" [routerLink]="['/users-list']">Users</a></li>
                <li role="presentation" *ngIf="currentUser" class="divider"></li>
                <li role="presentation" *ngIf="currentUser" (click)="logoutSystem()"><a role="menuitem" tabindex="-1" [routerLink]="['/login']">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
