<!--<div class="container">-->

  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<img class="cover-pic" src="../../../assets/images/home-cover.jpg" alt="">-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<h3>About This System <b>(Prototype)</b></h3>-->
        <!--<br>-->
        <!--<p>This system need to manage RazorGrip Projects and Users</p>-->
        <!--<p>It come to resolve a lot of issues and mistakes for employees and managers.</p>-->
      <!--</div>-->
  <!--</div>-->
  <!--<br>-->
  <!--<br>-->

<!--</div>-->


<!--NEW-->

<div class="col-md-6 col-md-offset-3">
  <h1>Hi {{currentUser.firstName}}!</h1>
  <p>You're logged in with Angular 2!!</p>
  <h3>All registered users:</h3>
  <ul>
    <li *ngFor="let user of users">
      {{user.username}} ({{user.firstName}} {{user.lastName}})
      - <a (click)="deleteUser(user.id)">Delete</a>
    </li>
  </ul>
  <p><a (click)="logoutSystem()" [routerLink]="['/login']">Logout</a></p>
</div>
