<h2>Insert Project</h2>
<div class="col-md-6">
  <form>
    <div class="form-group">
      <label for="projectName">Project name</label>
      <input type="text" class="form-control" id="projectName" placeholder="Enter Project Name">
    </div>
    <div class="form-group">
      <label for="projectTime">Project Time</label>
      <input type="number" class="form-control" id="projectTime" aria-describedby="emailHelp" placeholder="Enter Hours">
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    </div>
    <div class="form-group">
      <label>Tasks</label>
      <textarea class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>Assign Users</label>
      <select class="form-control" id="assignUsers" multiple>
        <option>User 1</option>
        <option>User 2</option>
        <option>User 3</option>
        <option>User 4</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

