<div class="container">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="form-group">
        <label for="username-input" class="col-2 col-form-label">User Name</label>
        <div class="col-10">
          <input class="form-control" type="text" value="Bar Saadon" id="username-input">
        </div>
      </div>
      <div class="form-group">
        <label for="email-input" class="col-2 col-form-label">Email</label>
        <div class="col-10">
          <input class="form-control" type="email" value="Barsaadon@gmail.com" id="email-input">
        </div>
      </div>
      <div class="form-group">
        <label for="pass-input" class="col-2 col-form-label">Password</label>
        <div class="col-10">
          <input class="form-control" type="password" value="123456789" id="pass-input">
        </div>
      </div>
      <div class="form-group">
        <label for="tel-input" class="col-2 col-form-label">Tel</label>
        <div class="col-10">
          <input class="form-control" type="tel" value="1-(555)-555-5555" id="tel-input">
        </div>
      </div>



      <div class="form-group">
        <label for="date-input" class="col-2 col-form-label">Birthday</label>
        <div class="col-10">
          <input class="form-control" type="date" value="2011-08-19" id="date-input">
        </div>
      </div>

      <div class="form-group">
        <label for="tech-input" class="col-2 col-form-label">Technologies</label>
        <div class="col-10">
    <textarea class="form-control" type="date" value="Angular2" id="tech-input">
      Angular 2, nodeJS, C#
    </textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-right user-pic-area">
      <button class="btn btn-change-profilePic" (click)="changePicture()">
        <pic-user></pic-user>
      </button>

    </div>
  </div>
</div>
